{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'analisis/style.css' %}">
</head>
<body>
    <div class= "inicio">
        <h1>Uber vs Taxi</h1>
    </div>
    <div class='contexto'>
        <h2>Contexto</h2>
        <p>La situación que se vive entre el gremio de los taxistas y la plataforma digital Uber, afecta, en gran medida a la población colombiana ya que se aproxima a un nuevo paro de taxistas, a causa del retorno de la plataforma Uber. 
            Ademas existen cientos de comentarios acerca de los dos servicios por parte de los usuarios en las diversas plataformas digitales, sobre ventajas y desventajas de ambos servicios a partir de sus experiencias.
            Por lo tanto nos dimos a la tarea de  investigar las tendencias en twitter  relacionadas con estas dos empresas y esto fue lo que encontramos:</p>
    </div>
 
<h2></h2>

<h2>Número de Tweets truncados</h2>
<div class= imagen>
    <img src="/analisis/1/" width="300px" />
</div>
<h2>Número de Retweets(Media) </h2>
<div class= imagen>
    <img src="/analisis/2/" width="600px" />
</div>
<h2>Número de Retweets Moda</h2>
<div class= imagen>
    <img src="/analisis/3/" width="600px" />
</div>


</body>
<footer>
    Presentado por:<br>    
    Andrés Felipe Gómez Salinas<br>
    Neider Alejandro Fajardo Cardona<br>
    @un_intento_de_5
</footer>
</html>